@media (max-width: 450px) and (min-width: 320px) {
  .head-options {
    display: flex;
    gap: 25px;
    font-size: 17px;
    margin: 30px 15px;
  }

  .search-3 input {
    flex: 1;
    padding: 10px 14px;
    font-size: 14px;
  }
  #sortSelect {
    padding: 12px 16px;
    border-radius: 30px;
    font-size: 12px;
    margin-left: 15px;
    border: 1px solid #ccc;
  }
  .boxes {
    margin-top: 30px;
    margin-left: 10px;
  }
}
