/* general */

/* headerr */
@media (max-width: 450px) and (min-width: 320px) {
  header {
    max-width: 430px;
  }

  .language-selector {
    display: none;
  }
  .profile-btn a {
    display: none;
  }
  .add-btn a::before {
    content: "";
  }

  .add-btn a {
    font-size: 0;
  }
  .add-btn a::after {
    content: "+ განთავსება";
    font-size: 10px;
    font-weight: bold;
    color: #fff;
  }
  .add-btn {
    margin-right: 0;
  }
}

/* main */
@media (max-width: 450px) and (min-width: 320px) {
  .main-ul {
    max-width: 430px;
    font-size: 10px;
  }
  .main-image {
    display: none;
  }
  .search-box {
    transform: unset;
    display: block;
    position: unset;
  }

  /* premium max 450 px */

  .vips-header {
    font-size: 10px;
  }
  .mini-but {
    font-size: 0;
  }
  .mini-but::after {
    content: "განთავსება";
    font-size: 8px;
    font-weight: bold;
    color: #fff;
  }
  .swiper-slide-active {
    max-width: 210px;
    margin-right: 20px;
  }
}
