/* general */

/* main */
@media (max-width: 450px) and (min-width: 320px) {
  .main-ul {
    max-width: 430px;
    font-size: 10px;
  }
  .main-image {
    display: none;
  }
  .search-box {
    transform: unset;
    display: block;
    position: unset;
  }

  .vips-header {
    font-size: 10px;
  }
  .mini-but {
    font-size: 0;
  }
  .mini-but::after {
    content: "განთავსება";
    font-size: 8px;
    font-weight: bold;
    color: #fff;
  }
  .swiper-slide-active {
    max-width: 410px;
    margin-right: 20px;
  }
  .adSwiper,
  .adSwiper .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .ads {
    margin: 30px auto;
  }

  .ad-slider-container {
    background-color: #f8f8f8;
    max-height: 160px;
    border-radius: 30px;
    overflow: hidden; /* ძალიან მნიშვნელოვანია fade-სთვის */
    position: relative; /* საჭირო fade overlay-ისთვის */
  }

  .adSwiper {
    width: 100%;
    height: 100%;
  }

  .adSwiper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .adSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
  }

  .swiper-slide {
    object-fit: contain;
    position: center;
  }
  /* პრემიუმების სლაიდი */
}
